{% extends "basic/base.html" %}
{% block title %}Create new person{% endblock %}
{% block content %}
<form action="{% url 'basic:person-add' %}" method="post">
  {% csrf_token %}
  <fieldset> 
    <legend>
      <h1>New person</h1>
    </legend>
    {{ form.as_p }}
  <!-- Button trigger modal -->
  <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#new-org-modal">
	Launch modal
  </button>
  </fieldset>
  <input type="submit" value="Submit">
</form>

<!-- Modal -->
<div class="modal fade" id="new-org-modal" tabindex="-1" role="dialog" aria-labelledby="new-org-modal-label" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <form action="{% url 'basic:organisation-add' %}" method="post">
        {% csrf_token %}
        <div class="modal-header">
          <h5 class="modal-title" id="new-org-modal-label">Create new organization</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          {{ org_form.as_p }}
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary">Create organization</button>
        </div>
      </form>
    </div>
  </div>
</div>

{% endblock content %}
